/* #FF9211 */
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
input {
  font-family: 'Kosugi', sans-serif;
}
body {
  text-align: center;
  background-color: #EEF9FE;
  height: 100vh;
}

h1 {
  margin: 0;
  text-decoration: none;
}

header {
  text-align: center;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  display: inline-block;
  background-image: url(https://i.imgur.com/5iymgbZ.jpg);
}

header>h1>a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: 'Audiowide', cursive;
}
header>h1>a:hover {
  color: #FF9211;
  transition-delay: 100ms;
  transition: ease-in-out;
  transition: 1s;
} 

header>div>a {
  margin: 0;
  margin-left: 12%;
  margin-right: 12%;
  display: inline;
}
header>div>p {
  margin: 0;
  margin-left: 12%;
  margin-right: 12%;
  display: inline;
} 
header h1 {
  border-bottom: solid black 2px;
}
.auth-container {
  margin: 8rem 36rem;
  background: linear-gradient(#ff9221, #EEF9FE );
  padding: 2rem;
}

html {
  scroll-behavior: smooth;
}

.create-form {
  display: grid;
  width: 20rem;
  margin: 15rem auto;
  background: #d6d6d6;
  padding: 2rem 2rem 3.5rem 2rem;
}

img {
  max-width: 15rem;
  padding: 2rem;
}

.plus-sign {
  max-width: 2rem;
  cursor: pointer;
  padding: 0;
}

.land-container {
  max-width: 100%;
}
.state-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  border-top: solid black 2px;
  border-left: solid black 2px;
  margin-left: 4%;
  margin-bottom: 5%;
}
.state-container h3 {
  margin: 0;
  display: inline-block;
  font-size: 2em;
  margin-left: 1%;
  align-self:flex-start;
  width: 10%;
  font-family: 'Kosugi', sans-serif;
  font-weight: lighter;
}
.state-container img {
  padding: 0;
  width: 20vw;
  height: 22vh;
  border-radius: 10px;
  margin: 2em 2em 1em 2em;
}
.state-container img:hover {
  cursor: pointer;
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
  transition-timing-function: 1s;
  transition-duration: 0.5s;
}
#hero-image {
  padding: 0;
  width: 40%;
}
footer {
  background: linear-gradient(#EEF9FE, #ff9221);
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: flex;
  justify-content: center;
}
footer img {
  align-self: flex-end;
  widows: 30%;
}
footer h1 {
  align-self: flex-end;
}
.add-card {
  margin: 5vh 0 5vh 0;
}
.add-card h3 {
  cursor: pointer;
}
.add-card h3:hover {
  color: #FF9211;
  transition-delay: 200ms;
  transition: 1s;
  transition-timing-function: linear;
  text-decoration: underline;
}
.plus-sign:hover {
  transform: rotate(100000deg);
  transition-delay: 200ms;
  transition: 160s;
  transition-timing-function: linear;
}
.land-page {
  margin-bottom: 10%;
}
.land-page img{
  max-width: none;
  width: 60%;
  height: 50%;
  padding: 0;
}

.land-page img:hover{
  cursor: pointer;
}
.land-page h1 {
  margin: 2% 0 2% 0;
}
.motto {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 9%;
}
.motto p {
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  font-style: italic;
  font-size: 1.5em;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.edit, .delete {
  cursor: pointer;
  display: block;
  margin: 1% 0 1% 0;
}
.edit:hover, .delete:hover {
  text-decoration: underline;
  text-decoration-style: double;
}
.login, .register {
  font-size: 1em;
  margin: 0;
  margin-left: 12%;
  margin-right: 12%;
  display: inline;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}
br {
  background: whitesmoke;
}