body {
  text-align: center;
  background-color: whitesmoke;
  height: 100vh;
}

h1 {
  margin: 0;
}

header {
  text-align: center;
  padding: 2rem;
  width: 20%;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 20px;
  display: inline-block;
  margin-top: 10%;
}

header>h1>a {
  text-decoration: none;
  cursor: pointer;
}

header>div>button, p {
  margin: 0 3rem;
}
header h1 {
  border-bottom: solid black 2px;
}
.auth-container {
  margin: 8rem 36rem;
  background: #b1b1b1;
  padding: 2rem;
}

html {
  scroll-behavior: smooth;
}

.create-form {
  display: grid;
  width: 20rem;
  margin: 15rem auto;
  background: #d6d6d6;
  padding: 2rem 2rem 3.5rem 2rem;
}

img {
  max-width: 15rem;
  padding: 2rem;
}

.plus-sign {
  max-width: 2rem;
  cursor: pointer;
}

#land-page {
  display: flex;
}